<section  class="header" style="background: linear-gradient(to bottom right, #c3ced3 40%,  #9aafc2 60%);">
  <div class="container-center">
  <div class="single" *ngFor="let item of singleicu">
      <h1>{{ item.title }}</h1>
      <br>
      <div class="container">
        <div class="row">
            
          <div class="col-lg-6">
            <img src="{{item.image}}" alt="" class="diaImg"/>
          </div>
          <div class="col-lg-6">
            <h3>About This Equipment</h3>
            <br>
            <p>{{ item.description }}</p>
            <br>
            <h3>USES</h3>
        <br>
        <p>{{ item.desc }}</p>
          </div>
          </div>
        </div>
        
        <br>
      <div class="row">
      <div class="col-lg-6">
      <iframe width="650" height="350" [src]="item.video  + '?autoplay=1&vq=hd720' | safe" allow="autoplay" allowfullscreen ></iframe>
    </div>
    <div class="col-lg-6" style="text-align: justify;">
      <h3>How it Works</h3>
      <br>
      <p>{{ item.detail  }}</p>
    </div>
  </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h2>{{ item.price }}</h2>
        <div *ngIf="(isLoggedIn$ | async) === true">
          <button
            (click)="Btnpayment()"
            type="button"
            class="btn btn-primary glow-button"
          >
            Buy Now
          </button>
        </div>
  
        <div *ngIf="(isLoggedIn$ | async) === false">
          <button
            (click)="Btnsignup()"
            type="button"
            class="btn btn-primary glow-button"
          >
            Buy Now
          </button>
        </div>
        <br>
       
        <br>
       
        <br>
        
        <br>
     
    </div>
   </div>
  </section>
    