<div id="carouselExampleAutoplaying" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="1500" data-bs-pause="false">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../../assets/images/carosal4.jpg" class="d-block w-100" alt="..." height="700" width="400">
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/images/carosal3.jpeg" class="d-block w-100" alt="..." height="700" width="400">
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/images/carosal6.jpg" class="d-block w-100" alt="..." height="700"width="400">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="col">MEDIFY</div>
<div class="sent">MEDICAL EQUIPMENTS</div>
<div class="para">
  <marquee>We provide good quality medical equipments all over the world. We are counted among the most prestigious manufacturer, exporter, wholesaler and trader of utmost quality Medical Equipments.</marquee>
</div>

  <div class="container" style="margin-left: 30px;">
<div class="row">
  <div class="col-lg-4 col-md-4 col-12 col-sm-6 wow tmFadeInUp" style="visibility: visible; animation-name: medizinAnimationFadeInUp; text-align: left;">
    <div class="medizin-box mb-30" data-vivus-hover>
      <div class="icon-box-wrapper"  style="margin-left: 10rem;">
        <div class="medizin-icon-wrap">
          <i class="fa fa-solid fa-eye" style="font-size: 36px; margin-left: 85px; color: cornflowerblue;"></i>
        </div>
        <div class="icon-box-content">
          <div class="title" >
            <h3>Our Vision</h3>
          </div>
          
          <ul class="marker">
            <li class="py-2">  Good Service </li>
            <li class="py-2">  For Community </li>
            <li class="py-2">  Long Term Development </li>
            <li class="py-2">  Save Our Planet </li>
            <li class="py-2">  Help People </li>
           </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-12 col-sm-6 wow tmFadeInUp" style="visibility: visible; animation-name: medizinAnimationFadeInUp; text-align: left">
    <div class="medizin-box mb-30" data-vivus-hover>
      <div class="icon-box-wrapper" style="margin-left: 11rem;">
        <div class="medizin-icon-wrap">
          <i class="fa fa-handshake-o" style="font-size: 36px; margin-left: 85px;color: cornflowerblue;"></i>
        </div>
        <div class="icon-box-content">
          <div class="title">
            <h3>Our Promise</h3>
          </div>
          <ul class="marker">
            <li class="py-2"> Sustainable Relationship </li>
            <li class="py-2"> Good Quality </li>
            <li class="py-2"> Provide The Best </li>
            <li class="py-2"> Profitable Relationship </li>
            <li class="py-2"> Adapt With People </li>
           </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-12 col-sm-6 wow tmFadeInUp" style="visibility: visible; animation-name: medizinAnimationFadeInUp; text-align: left">
    <div class="medizin-box mb-30" data-vivus-hover>
      <div class="icon-box-wrapper" style="margin-left: 12rem;">
        <div class="medizin-icon-wrap">
          <i class="fa fa-bullseye" style="font-size: 36px; margin-left: 85px; color: cornflowerblue;"></i>
        </div>
        <div class="icon-box-content">
          <div class="title">
            <h3>Our Mission</h3>
          </div>
          <ul class="marker">
            <li class="py-2"> Change The Habits </li>
            <li class="py-2"> Best Quality </li>
            <li class="py-2"> Think Big Do Bigger </li>
            <li class="py-2"> Stablity & competence </li>
            <li class="py-2"> Safer & Better Life </li>
           </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<section class="pt-5 pb-5" style= "width: 211vh; text-align: center; background-color: cornflowerblue; margin-left: -45px;">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="demo">
          <a routerLink="/diagnostic">
            <img src="../../../../assets/images/boximg1.jpg" class="d-block w-100" alt="..." height="300" width="200">
          </a>
      </div>
    </div>
      <div class="col">
        <div class="demo">
        <a routerLink="/medical">
          <img src="../../../../assets/images/boximg2.jpg" class="d-block w-100" alt="..." height="300" width="200">
        </a>
      </div>
      </div>
      <div class="col">
        <div class="demo">
          <a routerLink="/surgery">
            <img src="../../../../assets/images/boximg3.jpg" class="d-block w-100" alt="..." height="300" width="200">
          </a>
      </div>
      </div>
      <div class="col">
        <div class="demo">
          <a routerLink="/durable">
            <img src="../../../../assets/images/boximg4.jpg" class="d-block w-100" alt="..." height="300" width="200">
          </a>
      </div>
      </div>
    </div>
 
  </div>
</section>
