<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <a class="navbar-brand" href="#">
        <img src="../../../../assets/images/logo1.jpg"  alt="" width="100" height="50" class="d-inline-block align-text-top">
      </a>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="home" style="font-family:'Times New Roman', Times, serif; font-style:italic; color:royalblue;">Home</a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="equipments" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-family:'Times New Roman', Times, serif; font-style:italic; color:royalblue;">
          Equipments
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#" style="font-family:'Times New Roman', Times, serif; font-style:italic; color:royalblue;">Diagnostic Equipments</a></li>
            <li><a class="dropdown-item" href="#" style="font-family:'Times New Roman', Times, serif; font-style:italic; color:royalblue;">Medical Equipments</a></li>
            <li><a class="dropdown-item" href="#" style="font-family:'Times New Roman', Times, serif; font-style:italic; color:royalblue;">Surgery Equipments</a></li>
            <li><a class="dropdown-item" href="#" style="font-family:'Times New Roman', Times, serif; font-style:italic; color:royalblue;">Durable Equipments</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="signup" style="font-family:'Times New Roman', Times, serif; font-style:italic; color:royalblue;">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contactus" style="font-family:'Times New Roman', Times, serif; font-style:italic; color:royalblue;">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>